# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage/

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Prisma
apps/api/prisma/*.db

# Misc
.turbo/
